#navbar li {
  border-right: 1px solid #888;
}
#navbar li:last-child {
  border: 0;
}

.menu-button {
   color: #eaeaea;
}

.navbar-brand {
  margin: 0;
  padding: 0;
}
.logo {
  width: 50px;
}

.menuDcha {
  padding: 2em 1em;
  background: #FFDBB8;
}

.footer {
  background: #444;
  color: #eaeaea;
  padding: 2em 0;
  margin: 1em 0 0 0;
}

.footer-social, .footer-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
